<!DOCTYPE html>
<html>
<head>
  <title>RakeUi</title>
  <%= stylesheet_link_tag    "rake_ui/application" %>
  <%= javascript_include_tag "rake_ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
