/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {font-family: arial, sans-serif;font-size:.8em;}
form label {float:left; width:150px;}
.actions{margin-left:150px;}
label{font-weight:bold;}
#task_description{margin-left:150px;margin-top:10px;}